{% extends "base.html" %} {% block title %}<title>Category</title> {% endblock title %} {% block body %}


<div class="page-breadcrumb">
    <div class="row">
        <div class="col-7 align-self-center">
            <div class="d-flex align-items-center">

                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="{% url 'dashboard' %}">Home</a>
                    <span class="breadcrumb-item active">Bids List</span>
                </nav>
            </div>
        </div>

    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Category</h4>
                    <h6 class="card-subtitle">List of all categories</h6>

                    <div class="text-end">
                        <a href="{% url 'add_category' %}" class="btn btn-primary">Add Category</a>
                    </div>
                    <div class="table-responsive">
                        <table id="zero_config" class="table table-striped table-bordered no-wrap">
                            <thead>
                                <tr>
                                    <th>Sr No.  <i class="fa fa-fw fa-sort"></th>
                                    <th>name    <i class="fa fa-fw fa-sort"></th>
                                        <th scope="col">Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>


                            <tbody>
                                {% for categorie in categories %}
                                <tr>
                                    
                                    <td>{{ forloop.counter }}</td>
                                    
                                    <td>{{ categorie.category }}</td>
                                    <td>
                                        <a class="text-heading font-semibold" href="{% url 'category_approve_disapprove' id=categorie.id %}"> {% if categorie.is_approved == 'yes' %}
                                            Approved
                                        {% else %}
                                            Unapproved
                                        {% endif %}</a>
                                    </td>
                                   
                                    <td class="text-end">
                                        <a href="{% url 'edit_category' category_id=categorie.id %}" class="btn btn-sm btn-neutral">View</a>

                                        <a href="{% url 'delete_category' categorie.id  %}" >
                                        <button type="button"
                                            class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock body %}