{% extends "base.html" %} {% block title %}<title>Bids</title> {% endblock title %} {% block body %}


<div class="page-breadcrumb">
    <div class="row">
        <div class="col-7 align-self-center">
            <div class="d-flex align-items-center">

                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="{% url 'dashboard' %}">Home</a>
                    <span class="breadcrumb-item active">Referral List</span>
                </nav>
            </div>
        </div>

    </div>
</div>



    <!-- Main -->
    <main class="py-6 bg-surface-secondary">
        <div class="container-fluid">
            <div class="card shadow border-0 mb-7">
                <div class="card-header">
                    <h3 class="mb-0">Referral List</h3>
                </div>
                <div class="table-responsive">
                    <table table id="zero_config" class="table table-striped table-bordered no-wrap">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">SR No. <i class="fa fa-fw fa-sort"></th>
                                <th scope="col">party1 name <i class="fa fa-fw fa-sort"></th>
                                <th scope="col">party2 name <i class="fa fa-fw fa-sort"></th>
                                <th scope="col">Reffered By Name <i class="fa fa-fw fa-sort"></th>
                                <th scope="col">Referral Price  <i class="fa fa-fw fa-sort"></th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for refer in refers %}
                                <tr>
                                    <td>{{ forloop.counter}}</td>
                                    <td>
                                        <a class="text-heading font-semibold" href="#">{{ refer.manufacturer_username }}</a>
                                    </td>
                                    <td>
                                        <a class="text-heading font-semibold" href="#">{{ refer.seller_username }}</a>
                                    </td>

                                    <td>
                                        <a class="text-heading font-semibold" href="#">{{ refer.reffered_by_name }}</a>
                                    </td>
                                    <td>{{ refer.referral_price }}</td>
                                    <td class="text-end">
                                        <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                            <a href="{% url 'delete_referral' referral_id=refer.id %}">
                                            
                                            <i class="bi bi-trash"></i>
                                            </a>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    
</div>





{% endblock body %}