{% extends "base.html" %} {% block title %}<title>Bids</title> {% endblock title %} 

{% block style %}



{% endblock style %}

{% block body %}



<div class="container rounded bg-white mt-5 mb-5">

    {% if messages %}
        <div class="alert alert-success " role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
       
    {% endif %}


    <div class="row">
        
        <div class="col-md-12 border-right">
            <div class="p-1 py-1">
                <div class="d-flex justify-content-between align-items-center mb-12">
                    <button type="button" class="btn btn-outline-secondary btn-rounded"><i class="bi bi-arrow-left"></i> Back</button>
                    <h2 class="text-center">User Assesment</h2>
                </div>
                <form method="POST">
                    {% csrf_token %}
                </div>

                {{ form }}

                
                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
                </div>
                </form>
            </div>
        </div>
        
    </div>
</div>





{% endblock body %}